*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;

}
section{
   
    height: 100%;
}
.section-form{
    background: rgb(40,40,40);
    background: linear-gradient(90deg, rgba(40,40,40,1) 21%, rgba(42,42,42,1) 34%, rgba(51,50,50,1) 46%, rgba(50,50,50,1) 55%, rgba(60,58,58,1) 66%, rgba(56,56,56,1) 78%);
}
.image-background{
    background-image: url("img/legion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:40%;

}
.section-form form{
    width: 500px;  
    height: 500px;
   
    margin-top: 1rem;
  

}
.grid{
    width: 500px;
    display: grid;
    grid-template-columns: auto auto ;
    gap:20px
    
}
.section-form h1{
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    margin: 10px 60px;
} .grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   gap: 4px;

 
}

.section-form form div label{
    color: azure;
    font-size: 1rem;
    text-align: center;

    margin: 0;
}

.section-form p{
text-align: center;
    color: aliceblue;
    font-size: 1.2em;
    margin: 30px 10px;
}
/*logo*/
.logo{
    height: 50px;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p {
    
    font-size: 2rem;
}
a{
    color: beige;
    text-decoration: none;
}
a:hover{
 
transition: 0.4s;
color:rgb(147, 26, 26)
}
label{
    text-transform: uppercase;
    font-size: 1rem;
    
}
input{
    background-color: #434343;
    color: cornsilk;
    text-align: center  ;
    border: 1px solid white;
    width: 200px;
    height: 25px;
    border-radius: 25px;
    font-size: 0.80rem;
}
select{
    background-color: #434343;
    color: cornsilk;
    text-align: center  ;
    border: 1px solid white;
    width: 200px;
    height: 25px;
    border-radius: 25px;
    font-size: 0.80rem;   

}
#submit{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(147, 26, 26);
    color: black;
    text-align: center  ;
    border: 1px solid black;
    width: 250px;
    height: 45px;
    border-radius: 25px;
    font-size: 0.80rem;  
    text-transform: uppercase;
}
#submit:hover{
    border: 1px solid rgb(147, 26, 26);
    transition: 0.4s;
}
input:hover{
    border: 1px solid rgb(147, 26, 26);
    transition: 0.4s;
}
input:focus{
    border: 2px solid rgb(147, 26, 26);
    transition: 0.4s;
}
.last-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 1rem;
}


/*media querry*/
@media screen and (max-width: 1166px) {
    .section-form form{
        width: 300px; }
 
        input{
            width: 125px;
        }

        select{
            width: 125px;
        }
}
@media screen and (max-width: 918px) {


.image-background{
    background: black;
  
}
.section-form h1{
font-size: 1.25rem;
}
}
@media screen and (max-width: 700px) {

.section-form{
    width:100%;
}
.image-background{
    width: 0%;
    display: none;
}
input{
    width: 140px;
}

select{
    width: 140px;
}
}