*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;

}
section{
   
    height: 100%;
}
.section-form{
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000, #434343);
}
.image-background{
    background-image: url("img/legion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:52%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:53%;

}
.section-form form{
    width: 700px;  
    height: 500px;
    border: 1px solid black;
    margin-top: 1rem;
    

}
.section-form h1{
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    margin: 10px 60px;
}


.section-form p{
text-align: center;
    color: aliceblue;
    font-size: 1.2em;
    margin: 30px 10px;
}
/*logo*/
.logo{
    height: 50px;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p {
    
    font-size: 2rem;
}
a{
    color: beige;
    text-decoration: none;
}
a:hover{
 
transition: 0.4s;
color:rgb(147, 26, 26)
}